body {
    background-color: white;
}

ul {
    list-style-type: none;
    height: 600px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

ul img {
    width: 25px;
    height: 25px;
    padding: 5px 20px 0 10px;
}

.home:hover {
    color: #00aaec;
    background: #e6f8f8;
    border-radius: 30px;
    width: 130px;
    height: 40px;
}

.explore:hover {
    color: #00aaec;
    background: #e6f8f8;
    border-radius: 30px;
    width: 150px;
    height: 40px;
}

.notifications:hover {
    color: #00aaec;
    background: #e6f8f8;
    border-radius: 30px;
    width: 190px;
    height: 40px;
}

.messages:hover {
    color: #00aaec;
    background: #e6f8f8;
    border-radius: 30px;
    width: 170px;
    height: 40px;
}

.bookmarks:hover {
    color: #00aaec;
    background: #e6f8f8;
    border-radius: 30px;
    width: 180px;
    height: 40px;
}

.lists:hover {
    color: #00aaec;
    background: #e6f8f8;
    border-radius: 30px;
    width: 120px;
    height: 40px;
}

.profile:hover {
    color: #00aaec;
    background: #e6f8f8;
    border-radius: 30px;
    width: 130px;
    height: 40px;
}

.more:hover {
    color: #00aaec;
    background: #e6f8f8;
    border-radius: 30px;
    width: 120px;
    height: 40px;
}

.tweet {
    background: #00aaec;
    margin: 20px 0 0 10px;
    width: 210px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}