/*Homepage*/
.homepage {
    display: flex;
    flex-direction: row;
}

/*Side bar - menu*/
.menu {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.tweet {
    flex-grow: 10;
}

.profile {
    display: flex;
    justify-content: flex-start;
}

.name {
    display: flex;
    flex-direction: column;
}

/*Tweet bar*/
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tweet-box__post {
    display: flex;
    flex-direction: row;
}

.tweet-bar-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}