/*Side bar - menu*/
.menu {
    width: auto;
    margin: 0 50px 0 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.menu-items, .menu-items-logo {
    width: 28px;
    height: 28px;
    padding: 0 20px 0 10px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 10px 0 10px 0;
}

.menu a:hover {
    color: #00aaec;
    background: #e6f8f8;
    border-radius:30px;
}

.tweet {
    background: #00aaec;
    color: white;
    width: 210px;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.profile {
    margin: 30px 0 0 60px;
}

.foto-profile {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 10px;
}

.first-name {
    text-decoration:none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: bold;
}

.login-name {
    text-decoration:none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: gray;
    font-weight: lighter;
}

/*Tweet-bar*/
.cabecalho {
    width:550px;
    height:20px;
    border:1px solid rgb(233, 231, 231);
    border-top: none;
    padding: 20px;
}

.cabecalho a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.top-tweets:hover {
    background: #e6f8f8;
    border-radius:30px;
}

.foto-tweet {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
}

.tweet-box {
    height: 130px;
    border:1px solid rgb(233, 231, 231);
    border-top: none;
    border-bottom: 10px solid rgb(233, 231, 231);
}

#tweet-post {
    border: none;
    width: 500px;
    height: 60px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-top: 20px;
}

#tweet-post::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.tweet-bar-icons {
    margin-left: 70px;
}

.image-item, .gif-item, .grafic-item, .smile-item, .calendar-item {
    padding: 3px;
    width: 25px;
    height: 25px;
}

.tweet-button {
    background: #00aaec;
    color: white;
    width: 90px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-right: 15px;
    outline: none;
    cursor: pointer;
}


