/*Homepage*/
.homepage {
    display: flex;
    flex-direction: row;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*Side bar - menu*/
.menu {
    margin: 0 50px 0 50px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.menu-items, .menu-items-logo {
    width: 28px;
    height: 28px;
    padding: 0 20px 0 10px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 10px 0 10px 0;
}

.menu a:hover {
    color: #00aaec;
    background: #e6f8f8;
    border-radius:30px;
}

.create-tweet {
    background: #00aaec;
    color: white;
    width: 210px;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    outline: none;
    cursor: pointer;
    flex-grow: 10;
}

.profile {
    margin: 30px 0 0 60px;
    display: flex;
    justify-content: flex-start;
}

.photo-profile {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 10px;
}

.name {
    display: flex;
    flex-direction: column;
}

.name a:first-child {
    text-decoration:none;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.name a:last-child {
    text-decoration:none;
    font-size: 14px;
    color: gray;
    font-weight: lighter;
}

/*Tweet-bar*/
.header-tweet-bar {
    width:550px;
    height:20px;
    border:1px solid rgb(233, 231, 231);
    border-top: none;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-tweet-bar a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.header-tweet-bar a:last-child:hover {
    background: #e6f8f8;
    width: 35px;
    height: 35px;
    border-radius:100%;
}

.tweet-box {
    height: 130px;
    border:1px solid rgb(233, 231, 231);
    border-top: none;
    border-bottom: 10px solid rgb(233, 231, 231);
}

.tweet-box__post {
    display: flex;
    flex-direction: row;
}

.photo-tweet {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 10px;
}

.tweet-post {
    border: none;
    width: 500px;
    height: 60px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    resize: none;
}

.tweet-post::placeholder {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.tweet-bar-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tweet-bar-icons {
    margin-left: 70px;
    
}

.image-item, .gif-item, .grafic-item, .smile-item, .calendar-item {
    padding: 3px;
    width: 25px;
    height: 25px;
}

.post-tweet {
    background: #00aaec;
    color: white;
    width: 90px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    margin-right: 15px;
    outline: none;
    cursor: pointer;
}


